.bm_titleBig {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #3f3f3f;

    padding-bottom: 30px;
    text-transform: uppercase;
}

.bm_titleSmall {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #3F3F3F;

    margin-top: 50px;
    padding-bottom: 10px;
}

.bm_text {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #3F3F3F;

    margin-bottom: 10px;
}

.bm_list {
    padding-left: 0!important;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #3F3F3F;
}

.bm_list li {
    margin-bottom: 9px;
}

.bm_list .list-subItem:first-child{
    margin-top: 5px;
}

.bm_list .list-subItem{
    margin-left: 25px;
    color: #757575;
    font-style: italic;
    margin-top: 5px;
}

.bm_list li div:last-child {
    padding-bottom: 5px;
}

.bm_list {
    list-style: none;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #25DDDD;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}

.dot.blue {
    background-color: #25a9e0;
}

.dot.red {
    background-color: #EF5227;
}

.dot.green {
    background-color: #3BB44A;
}

.dot.yellow {
    background-color: #FAAA39;
}

.bm_link {
    display: flex;
    color: #0D72B9;
}

.bm_link img {
    margin-right: 10px;
    width: 162px;
}

.bm_link span {
    align-self: center;
}

.bm_short-number {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    color: #3f3f3f;
}

.bm_short-number .number{
    margin-right: 10px;
    width: 162px;
    height: 76px;
    background-color: #E4E4E4;
    border-radius: 6px;
    text-align: center;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 57px;
    color: #3f3f3f;
    margin-bottom: 15px;
    vertical-align: middle;
    padding-top: 10px;
}

.bm_short-number .label{
    align-self: center;
}


.bm_info {
    padding-left: 0!important;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #3F3F3F;
    line-height: 24px;
}

.bm_info li {
    display: flex;
    margin-bottom: 9px;
    font-style: italic;
    margin-top: 5px;
}

.bm_info li div:last-child {
    padding-bottom: 5px;
}

.bm_info {
    list-style: none;
}

.i-con {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    margin-top: 2px;
    background-repeat: no-repeat;
}

.i-con.blue {
    background-image: url("/images/assets/i-con/info-blue.svg");
}

.i-con.red {
    background-image: url("/images/assets/i-con/info-red.svg");
}

.i-con.green {
    background-image: url("/images/assets/i-con/info-green.svg");
}

.i-con.yellow {
    background-image: url("/images/assets/i-con/info-orange.svg");
}

.bm_app {
    display: flex;
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
}

/*.bm_app:first-child {*/
    /*margin-top: 10px;*/
/*}*/

.bm_app img {
    margin-right: 10px;
}

.bm_app span {
    align-self: center;
}

.bm_app-buttons{
    margin-top: 10px;
}

.bm_app-subtitle {
    margin-top: 8px;
    line-height: 24px;
    margin-left: 5px;
}

