:root {
    --margin-top-large-screen: 120px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #B6DFF5;
}

@media only screen and (max-width: 600px) {

    body {
        background: white!important;
    }

    .be_Categories {
        width: 100%!important;
        border: none!important;

        height: calc(100% - 100px) !important;

        box-shadow: none!important;
        border-radius: 0!important;

        z-index: 1;
    }

    .be_CategoryView {
        margin: 0!important;

        width: 100%!important;
        border: none!important;

        height: 105%!important;

        padding: 5px 5px 0 5px!important;

        background: #F2F2F2!important;

        z-index: 2;
    }

    .be_CategoryItemView * {
        border: none!important;
        box-shadow: none!important;
    }

    .be_CategoryItemView {
        margin: 0!important;

        width: 100%!important;
        height: 100%!important;

        z-index: 3;

        background-color: white;
    }

    .be_CategoryItemView-paper {
        padding: 5px!important;
    }
}

/******************************************/

.be_margin-bottom-10px {
    margin-bottom: 30px;
}

.be_Logo {
    position: fixed;
    margin-left: 70px;
    margin-top: 10px;
}

.be_Logo img {
    width: 100px;
}

/******************************************/

.be_Categories {
    width: 230px;
    background-color: white;
    border: 1px;

    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;

    box-shadow: 0 3px 5px 2px lightgray;
    border-radius: 0 8px 8px 0;

    position: fixed;
    margin-left: 0;
    margin-top: var(--margin-top-large-screen);
}

/******************************************/

.be_Category-selected {
    background-color: #0074E8 !important;
    color: white !important;
}

.be_Category-selected svg {
    color: white !important;
}

.be_Category-selected span {
    color: white !important;
}

/******************************************/

.be_CategoryView {
    position: fixed;
    margin-left: 250px;
    margin-top: 20px;

    width: 370px;
    border: 1px;

    max-height: calc(100% - 25px);
    overflow-y: auto;
    overflow-x: hidden;

    padding-right: 5px;
}

.be_CategoryView-image {
    width: 370px;
    height: 200px;
}

/******************************************/

.be_CategoryItemView {
    position: fixed;
    margin-left: 645px;
    margin-top: 20px;
    margin-right: 20px;

    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100% - 25px);
    max-width: 700px;

    font-family: initial;
    font-stretch: semi-condensed;
    letter-spacing: 1px;
    font-size: larger;
}

.be_CategoryItemView-paper {
    padding: 15px;
}
