@media only screen and (max-width: 600px) {
    .be_theme-image-left-right {
        background: none!important;
    }

    .be_theme-image-center {
        background: none!important;
    }

    .be_theme-sun {
        background: none!important;
    }

    .be_theme-balloon {
        background: none!important;
    }

    .be_theme-cloud-big {
        background: none!important;
    }

    .be_theme-cloud-big-2 {
        background: none!important;
    }

    .be_theme-cloud-medium {
        background: none!important;
    }

    .be_theme-cloud-small {
        background: none!important;
    }
}

.be_theme-image-left-right {
    width: 100%;
    height: 164px;

    position: fixed;
    bottom: 0;
    left: 0;
    overflow-x: visible;
    background: url("/images/assets/image-right-left.png") repeat-x;
    display: block;
    padding: 0;
}

.be_theme-image-center {
    width: 100%;
    height: 353px;

    position: fixed;
    bottom: 0;
    left: 0;

    overflow-x: visible;
    background: url("/images/assets/image-center.png") no-repeat center;
    display: block;
    padding: 0;
}

.be_theme-sun {
    position: fixed;
    bottom: 380px;
    left: 40%;
    background: url("/images/assets/sun.png") no-repeat center;

    width: 55px;
    height: 56px;

    display: block;
    padding: 0;

    -webkit-animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.be_theme-balloon {
    position: fixed;
    bottom: 290px;
    left: 58%;
    background: url("/images/assets/balloon.png") no-repeat center;

    width: 48px;
    height: 82px;

    display: block;
    padding: 0;

    animation: motion-balloon 17s infinite ease-in-out;
}

.be_theme-cloud-big {
    position: fixed;
    bottom: 402px;
    left: 56%;
    background: url("/images/assets/cloud-big.png") no-repeat center;

    width: 162px;
    height: 166px;

    display: block;
    padding: 0;

    /*-webkit-animation:cloudMove 17s linear infinite;*/
    /*-moz-animation:cloudMove 17s linear infinite;*/
    /*animation:cloudMove 17s linear infinite;*/

    animation: motion-cloud-big 19s infinite;
}

.be_theme-cloud-big-2 {
    position: fixed;
    bottom: 452px;
    left: 43%;
    background: url("/images/assets/cloud-big.png") no-repeat center;

    width: 162px;
    height: 166px;

    display: block;
    padding: 0;

    /*-webkit-animation:cloudMove 30s linear infinite;*/
    /*-moz-animation:cloudMove 30s linear infinite;*/
    /*animation:cloudMove 30s linear infinite;*/

    animation: motion-cloud-big-2 12s infinite;
}

.be_theme-cloud-medium {
    position: fixed;
    bottom: 224px;
    left: 27%;
    background: url("/images/assets/cloud-medium.png") no-repeat center;

    width: 162px;
    height: 166px;

    display: block;
    padding: 0;

    /*-webkit-animation:cloudMove 27s linear infinite;*/
    /*-moz-animation:cloudMove 27s linear infinite;*/
    /*animation:cloudMove 27s linear infinite;*/

    animation: motion-cloud-medium 23s infinite;
}

.be_theme-cloud-small {
    position: fixed;
    bottom: 248px;
    left: 66%;
    background: url("/images/assets/cloud-small.png") no-repeat center;

    width: 162px;
    height: 166px;

    display: block;
    padding: 0;

    animation: motion-cloud-small 17s infinite;

    /*-webkit-animation:cloudMove 20s linear infinite;*/
    /*-moz-animation:cloudMove 20s linear infinite;*/
    /*animation:cloudMove 20s linear infinite;*/

}

@keyframes motion-cloud-small {
    0% {
        left: 66%;
        opacity: 0;
    }
    50% {
        left: 67%;
        opacity: 1;
    }
    100% {
        left: 68%;
        opacity: 0;
    }
}

@keyframes motion-cloud-medium {
    0% {
        left: 27%;
        opacity: 0;
    }
    50% {
        left: 29%;
        opacity: 1;
    }
    100% {
        left: 31%;
        opacity: 0;
    }
}

@keyframes motion-cloud-big-2 {
    0% {
        left: 40%;
        opacity: 0;
    }
    50% {
        left: 42%;
        opacity: 1;
    }
    100% {
        left: 44%;
        opacity: 0;
    }
}

@keyframes motion-cloud-big {
    0% {
        left: 56%;
        opacity: 0;
    }
    50% {
        left: 58%;
        opacity: 1;
    }
    100% {
        left: 60%;
        opacity: 0;
    }
}

@keyframes motion-balloon {
    0% {
        bottom: 280px;
    }
    50% {
        bottom: 295px;
    }
    100% {
        bottom: 280px;
    }
}